body {
  background-color: rgb(100, 140,240);
  margin: 0;
  margin-left: 3px;
  margin-right: 3px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./image/artistic-blurry-colorful-wallpaper-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  background-color: rgba(33, 37, 41, 0.4);
  color: whitesmoke;
  height: 5vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

footer {
  height: 5vh;
  display: block;
}

input[type="text"] {
  border: 0;
  border-radius: 10px;
  outline: none;
  height: 4rem;
  width: 15rem;
  font-family: inherit;
  font-size: x-large;
  background-color:rgba(33, 37, 41, 0.4);
  color: wheat;
  display: inline;
}

button {
  height: 4rem;
  width: 6rem;
  display: inline;
  font-family: inherit;
  font-size: x-large;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button:active {
  background-color: gray;
}

input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}