.main {
  position: relative;
  height: 70vh;
  margin: 10vh;
  background-color: rgba(33, 37, 41, 0.4);
  border-radius: 10px;
}

.generate {
  display: inline;
  position: absolute;
  top: 43%;
  left: 25%;
  width: 20vh;
  transform: translate(-43%, -25%);
}

.join{
  display: inline;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -75%);
  width: 50%;
  text-align: center;
}
